<head>
    <title>Lista de funcionários</title>
</head>

<h1>Lista de funcionários</h1>
<hr>

<form action="/resultado/" method="post">
    <div class="form-control">
        <input type="text" name="cpf" id="cpf">
        
        <input type="submit" value="Buscar">
</form>
    <br>
    {{#each listar}}
    <br>
    * <strong><a href="/funcionarioCPF/{{this.cpf}}">{{nome}}</a></strong>
    {{/each}}