<head>
    <title>Lista de jogo de mesa</title>
</head>

<h1>Lista de jogo de mesa</h1>
<hr>

<form action="/resultado/" method="post">
    <div class="form-control">
        <input type="text" name="id" id="id">
        
        <input type="submit" value="Buscar">
</form>
    <br>
    {{#each listar}}
    <br>
    <strong> #{{this.id}} </strong>
    - <a href="/jogodemesaid/{{this.id}}">{{nome}}</a>
    {{/each}}