<h1>buscar Empresa por CNPJ ou Nome</h1>
<hr>
<hr>
    <form action="/buscar/" method="post">
        <div class="form-control">
            <input type="text" name="busca" id="busca">
            
    
        <input type="submit" value="Buscar">
        </div>
    </form>
