<head>
    <title>Cadastro</title>
</head>

<h1>Cadastrar um novo brinquedo</h1>
<hr>
<form action="brinquedo/addbrinquedo" method="POST">
    <div class="form-control">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" placeholder="Digite o nome do brinquedo">
    </div>
     <div class="form-control">
        <label for="marca">Marca: </label>
        <input type="text" name="marca" placeholder="Qual e a marca do brinquedo?">
    </div>
    <div class="form-control">
        <label for="material">Tipo de material: </label>
        <input type="text" name="material" placeholder="Qual e o tipo de material?">
    </div>
     <div class="form-control">
        <label for="preco">Preço: </label>
        <input type="text" name="preco" placeholder="Qual e o valor do brinquedo?">
    </div>
    <input type="submit" value="Cadastrar">
</form>